/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

/*CSS Reset*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul ol {
    list-style: none;
}

li {
    list-style: none;
}

/*Navbar*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.navbar-list {
    display: flex;
    column-gap: 20px;
}

/*Homepage anime list*/

.anime-list-container {
    margin: 100px 40px 0px 40px;
}

.anime-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}

.anime-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anime-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.anime-title {
    overflow-wrap: normal;
}

/*footer*/

.footer {
    margin: 100px 40px 0px 40px;
}