@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <div class="login-form-container">
        <div class="login-form-header">
            <h1>Login</h1>
            <p>Don't have an account? <a style="text-decoration: underline" asp-area="" asp-controller="Login" asp-action="CreateAccount">Sign up</a></p>
        </div>
        <form class="login-form" method="post" asp-action="Index">
            <div class="login-input">
                <i class="fa-solid fa-envelope"></i>
                <input class="login-input-textbox" type="email" asp-for="Email" placeholder="Email" />
            </div>

            <div class="login-input">
                <i class="fa-solid fa-lock"></i>
                <input class="login-input-textbox" type="password" asp-for="Password" placeholder="Password" />
            </div>

            <div class="error-message" asp-validation-summary="All">
            </div>

            <button class="login-button" type="submit">Sign In</button>
        </form>
    </div>
</div>
