@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <div class="login-form-container">
        <div class="login-form">
            <form>
                <input />
                <input />
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
