<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyAnimeVault</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/MyAnimeVault.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyAnimeVault</a>
            <div class="navbar-menu">
                <ul class="navbar-list">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Vault">MyVault</a>
                    </li>
                </ul>
                <form class="navbar-searchbar" asp-area="" asp-controller="Home" asp-action="SearchResults" method="get">
                    <input class="navbar-searchbar-textbox" type="text" name="query" placeholder="Search for an Anime" list="AnimeList"/>
                    <button class="navbar-searchbar-searchbutton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div class="navbar-account-options">
                    @if(ViewBag.UserId != null)
                    {
                        <div class="navbar-dropdown-menu-container" data-dropdown>
                            <button class="navbar-dropdown-menu-button" type="button" data-dropdown-button>@ViewBag.DisplayName <i class="fa-solid fa-caret-down"></i></button>
                            <div class="navbar-dropdown-menu" aria-labelledby="navbar-dropdown-menu-button">
                                <div class="navbar-dropdown-menu-list">
                                    <a class="navbar-dropdown-menu-listitem">Account Settings</a>
                                    <a class="navbar-dropdown-menu-listitem" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a class="navbar-signin-button" asp-area="" asp-controller="Login" asp-action="Index">Sign In</a>
                        <a class="navbar-signup-button" asp-area="" asp-controller="Login" asp-action="CreateAccount">Sign Up</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="social-links-container">
            <a class="github-link" href="https://github.com/zachbray9/MyAnimeVault" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/ac5d25142f.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
