@using MyAnimeVault.Domain.Models
@model List<AnimeListNode>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="anime-list-container">
        <ul class="anime-list">
            @foreach(var node in Model)
            {
                <li class="anime-card">
                    <a anime-link>
                        <img class="anime-poster" src="@node.Anime.Picture.Medium" alt="@node.Anime.Title" height="300" width="225">
                        <p class="anime-title">@node.Anime.Title</p>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
