@using MyAnimeVault.Domain.Models
@model List<AnimeListNode>

@{
    ViewData["Title"] = "Search Results";
}

<div class="text-center">
    <div class="search-results-container">
        <ul class="search-results">
            @if(Model.Count == 0 || Model == null)
            {
                <li class="search-result">
                    <p>No search results found</p>
                </li>
            }
            else
            {
                @foreach(AnimeListNode node in Model)
                {
                    <li class="search-result">
                        <a class="search-result-link" asp-area="" asp-controller="Home" asp-action="AnimeDetails" asp-route-id="@node.Anime.Id">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            @if(node.Anime.AlternativeTitles != null && !String.IsNullOrEmpty(node.Anime.AlternativeTitles.en))
                            {
                                <p>@node.Anime.AlternativeTitles.en</p>
                            }
                            else
                            {
                                <p>@node.Anime.Title</p>
                            }
                        </a>
                    </li>
                }   
            }
        </ul>
    </div>
</div>
